<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
        {% block header %}
            <div class="fixed-top bg-white">
            <div class="container">
                <section class="mt-2">
                    <ul class="nav justify-content-between">
                        <li class="nav-item justify-content-start">
                            <a href="#" class="text-dark">example@emailexample.com</a>
                        </li>

                        <li>
                            &nbsp;
                        </li>

                        <li class="nav-item">
                            <div class="social-media">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a href="#"><img src="{{ asset('img/twi.png') }}" width="24em"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="https://www.facebook.com/honger.media/"><img src="{{ asset('img/fb.jpeg') }}" width="24em"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#"><img src="{{ asset('img/inst.png') }}" width="24em"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <div class="profile">
                                <a href="#" class="btn btn-sm text-light bg-secondary">Login</a>
                                <a href="#" class="btn btn-sm text-light bg-secondary">Register</a>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>

            <div class="navigation mt-2 bg-light pt-1">
                <nav class="container text-dark">
                    <ul class="nav justify-content-between navbar navbar-expand-lg navbar-light bg-light">
                        <li>
                            <div class="text-center">
                                <ul class="nav justify-content-center">
                                    <li class="nav-item">
                                        <img src="{{ asset('img/logo.png') }}" class="" width="24em">
                                    </li>
                                    <li>
                                        &nbsp;
                                    </li>
                                    <li class="nav-item">
                                        <h2 class="text-center text-secondary">Honger</h2>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="nav-bar collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active text-dark" href="/">Inicio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#">&iquest;Qui&eacute;nes somos&quest;</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#">Servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="#">Contáctanos</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            </div>
        {% endblock %}


        {% block body %}

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
